.main-form
	.main-form__title Связаться с нами
	.main-form-content
		.main-form-content-left
			img(src="assets/images/main-form.png", alt="")
		form.main-form-content-right(action="#")
			.main-form-content-right__title Отправьте заявку и мы свяжимся с Вами
			.main-form-content-right-pair
				label(for="name") Имя
				input(type="text" placeholder="Иван Иванов" name="name" data-required)
			.main-form-content-right-tabs
				.main-form-content-right-tabs-navigation
					a(href="#inputTel")
						label(for="tel") Телефон
					a(href="#inputEmail")
						label(for="email") E-mail
				.main-form-content-right-tabs-tab#inputTel
					input(type="tel" placeholder="+7 (900) 000-00-00" name="tel")
				.main-form-content-right-tabs-tab#inputEmail
					input(type="text" placeholder="ivanov@abc.ru" name="email")
			span Отправляя форму Вы соглашаетесь <a href="#">на обработку данных</a>
			.main-form-content-right-btn
				button.main-form-content-right-btn__link(type='submit') Отправить