header.header
	.header-top
		a.header-top__logo(href="/")
			img(src="assets/images/logo.svg", alt="")
		.header-top-menu
			img(src="assets/images/burger.svg", alt="")
			span Меню
		.header-top-links
			a.header-top-links__item(href="#") Все объекты
			a.header-top-links__item(href="#") Избранное
		.header-top-info
			a(href="tel:88129343454") +7 (812) 934-34-54
			span пн-вс с 9<sup>00</sup> до 21<sup>00</sup>
		.header-top-btn
			a.header-top-btn__link(href="#") Записаться на просмотр
