extends ../template

block variables
	- var title = 'Каталог'

block content
	.catalog
		.catalog__subtitle Лучшие предложения
		h1.catalog__title Каталог загородной недвижимости
		.catalog-wrap
			form.catalog-tags(action="#")
				input(type="checkbox" id="tag1" name="tag1")
				label(for="tag1") С видом на воду
				input(type="checkbox" id="tag2" name="tag2")
				label(for="tag2") Наличие леса
				input(type="checkbox" id="tag3" name="tag3")
				label(for="tag3") Свой пирс
				input(type="checkbox" id="tag4" name="tag4")
				label(for="tag4") Охотничьи угодья
			.catalog-filters
				.catalog-filters-filter 
					<svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
						<path d="M3.25926 10.6667H2.07407V0.296296C2.07407 0.132444 1.94133 0 1.77778 0C1.61422 0 1.48148 0.132444 1.48148 0.296296V10.6667H0.296296C0.132741 10.6667 0 10.7991 0 10.963V14.5185C0 14.6824 0.132741 14.8148 0.296296 14.8148H1.48148V15.7037C1.48148 15.8676 1.61422 16 1.77778 16C1.94133 16 2.07407 15.8676 2.07407 15.7037V14.8148H3.25926C3.42281 14.8148 3.55556 14.6824 3.55556 14.5185V10.963C3.55556 10.7991 3.42281 10.6667 3.25926 10.6667ZM2.96296 14.2222H0.592593V11.2593H2.96296V14.2222Z" fill="black"/>
						<path d="M8.88865 5.92593H7.70347V0.296296C7.70347 0.132444 7.57073 0 7.40717 0C7.24362 0 7.11088 0.132444 7.11088 0.296296V5.92593H5.92569C5.76214 5.92593 5.62939 6.05837 5.62939 6.22222V9.77778C5.62939 9.94163 5.76214 10.0741 5.92569 10.0741H7.11088V15.7037C7.11088 15.8676 7.24362 16 7.40717 16C7.57073 16 7.70347 15.8676 7.70347 15.7037V10.0741H8.88865C9.05221 10.0741 9.18495 9.94163 9.18495 9.77778V6.22222C9.18495 6.05837 9.05221 5.92593 8.88865 5.92593ZM8.59236 9.48148H6.22199V6.51852H8.59236V9.48148Z" fill="black"/>
						<path d="M14.5185 1.18519H13.3334V0.296296C13.3334 0.132444 13.2006 0 13.0371 0C12.8735 0 12.7408 0.132444 12.7408 0.296296V1.18519H11.5556C11.392 1.18519 11.2593 1.31763 11.2593 1.48148V5.03704C11.2593 5.20089 11.392 5.33333 11.5556 5.33333H12.7408V15.7037C12.7408 15.8676 12.8735 16 13.0371 16C13.2006 16 13.3334 15.8676 13.3334 15.7037V5.33333H14.5185C14.6821 5.33333 14.8148 5.20089 14.8148 5.03704V1.48148C14.8148 1.31763 14.6821 1.18519 14.5185 1.18519ZM14.2222 4.74074H11.8519V1.77778H14.2222V4.74074Z" fill="black"/>
					</svg>
					span Фильтры