extends ../template

block variables
	- var title = 'Дом'

block content
	.house
		.house-banner <!-- div>если требуется белый хедер - добавить класс white</div-->
			.house-banner-slider
				.house-banner-slider-item(style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30.38%),url(/assets/images/house-banner.jpg); background-size: cover; background-position: center;") <!-- div>linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30.38%) - если хедер белый linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 30.38%) - если хедер белый</div-->
			.house-banner-content
				h1.house-banner-content__title Загородный дом
				.house-banner-content-btn
					a.house-banner-content-btn__link(href="#") Забронировать дом